//
//  WeMeet-Debug.xcconfig
//  WeMeet
//
//  Created by jonyzeng on 2020/4/9.
//  Copyright © 2020 tencent. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//OVERSEAS_VERSION_IOS = 1

//FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/../Thirdparty/AppsFly"

//GCC_PREPROCESSOR_DEFINITIONS = $(inherited) OVERSEAS_VERSION_IOS=1
